# Ignore node_modules in both frontend and backend
node_modules/

.idea/

# Optionally, you can also ignore logs and environment files
logs/
*.log
.env

# Ignore build directories if you have them
dist/
build/