.wrapper {
  min-height: 900px;
  background-size: cover;
  background-image: url('./sign-up-image.png');
}

.form {
  min-height: 900px;
  max-width: 450px;
  padding-top: 80px;
}

.title {
  color: black;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}
