.input:focus {
  outline: 2px solid var(--mantine-color-blue-5);
  border: unset;
}

.input:focus-within {
  outline: none;
}

.InputPlaceholder-placeholder {
  display: flex;
}

.icon-hover:hover {
  cursor: pointer;
}

.button-image:hover {
  background-color: white;
  opacity: 1 !important;
}
